* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: #F4F2EF;
}

.cuerpo_home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.linea_nav {
    background-color: #dfd6c8;
    height: 1px;
}

.imagen_principal {
    width: 100vh;
}



.collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 23px;
    font-weight: 500;
    color: #958A75;
    
}

.navbar {
    max-width: 1140px;
    margin: auto;
}



.navbar-carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    padding-left: 60%;
}


.logo {
    padding-left: 4rem;
}






.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-rubio {
    max-width: 1140px;
    margin: auto;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
        "aldeano    aldeano        aldeano          .          .          .       .       .           modelo      modelo      .                 ."
        "aldeano    aldeano        aldeano          pantalon   pantalon   .       .       cazadora1   .           .           .                 ."
        ".        .                .                .          .          .       .       kim         kim         kim         kim               ."
        ".        .                aldeano2         aldeano2   aldeano2   .       .       kim         kim         kim         kim               ."
        ".        .                .                .          .          .       .       .           .           .           cazadora2         cazadora2"
        ;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .grid-rubio {
        max-width: 1140px;
        margin: auto;
        padding: 1rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        grid-template-areas: 
            "aldeano    aldeano        aldeano          .          .            .           modelo      modelo      .                 ."
            "aldeano    aldeano        aldeano          pantalon   pantalon     cazadora1   .           .           .                 ."
            ".        .                .                .          .            kim         kim         kim         kim               ."
            ".        .                aldeano2         aldeano2   aldeano2     kim         kim         kim         kim               ."
            ".        .                .                .          .            .           .           .           cazadora2         cazadora2"
            ;
    }
    
}

@media (max-width: 768px) {
    
    .grid-rubio {
        max-width: 1140px;
        margin: auto;
        padding: 1rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
        grid-template-areas: 
            "aldeano    aldeano        aldeano          .          .            .           modelo      modelo      .                 ."
            "aldeano    aldeano        aldeano          pantalon   pantalon     pantalon    .           .           .                 ."
            ".          cazadora1      cazadora1        .          .            kim         kim         kim         kim               ."
            ".          .              aldeano2         aldeano2   aldeano2     kim         kim         kim         kim               ."
            ".          .              .                .          .            .           .           .           cazadora2         cazadora2"
            ;
    }
    
}

.modelo {
    grid-area: modelo;
}

.aldeano {
    grid-area: aldeano;
    background-color: red;
}

.pantalon {
    grid-area: pantalon;
}

.cazadora1 {
    grid-area: cazadora1;
}

.kim {
    grid-area: kim;
}

.aldeano2 {
    grid-area: aldeano2;
}

.cazadora2 {
    grid-area: cazadora2;
}

.camisa-boton {
    grid-area: camisa-boton;
}

.contenedor_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    background-color: #958A75;
    font-family: 'Cormorant Garamond', serif;
    color: #F4F2EF;
}

/*------------------------ Marca--------------------- */
/*------------------------ Marca--------------------- */
/*------------------------ Marca--------------------- */
/*------------------------ Marca--------------------- */


.grid_marca {
    max-width: 1140px;
    margin: auto;
    padding: 1rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 1rem;
    grid-template-areas: 
        ".  .            grid_marca_img1               .                  .            .              ."
        ".  logo_marca   logo_marca     .                  texto_marca  texto_marca    ."
        ".  .            .              grid_marca_img2    .            .              ."
        ;
}


.grid_marca_img1 {
    grid-area: grid_marca_img1;
}

.logo_marca {
    grid-area: logo_marca;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    font-weight: 500;
    color: #958A75;
}

@media (max-width: 768px) {

    .logo_marca {
        grid-area: logo_marca;
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
        font-weight: 500;
        color: #958A75;
    }

    .grid_marca {
        max-width: 1140px;
        margin: auto;
        padding: 1rem;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;
        grid-template-areas: 
            ".  .            grid_marca_img1        grid_marca_img1    .                    .              ."
            ".  logo_marca   logo_marca             texto_marca        texto_marca          texto_marca    texto_marca"
            ".  .            .                      grid_marca_img2    grid_marca_img2      .              ."
            ;
    } 
    
}

.texto_marca {
    grid-area: texto_marca;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 500;
    color: #958A75;
}

.grid_marca_img2 {
    grid-area: grid_marca_img2;
}



/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */

@media (max-width: 768px) {

    .carrito_producto {
        width: 100%;    }
    
}



main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



.contenedor_carrito {
    padding-top: 3rem;
}

.card_header_carrito {
    background-color: #958A75;
    color: #F4F2EF;
    font-size: 25px;
}

.card_carrito {
    width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F2EF;
}

.card_carrito >* {
    background-color: #F4F2EF;
}

.titulo_prenda {
    font-size: 35px;
}

.seleccionar_cantidad {
    max-width: 193px;
    background-color: #F4F2EF;
}

.precio {
    padding-left: 3rem;
    font-size: 2rem;

}

.cuerpo_carta_carrito {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    justify-items: center;

}

.contenido_cantidad_precio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 1rem;
}

.card_header_pagar {
    background-color: #958A75;
    color: #F4F2EF;
    font-size: 25px;
}

.card_pagar {
    width: 96%;
}

.pagar_total {
    font-size: 33px;
}

.precio_total {
    font-size: 25px;
}

.cuerpo_carta_pagar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.btn_pagar {
    background-color: #958A75;
    border: #958A75;
}
.contenedor_footer {
    margin-top: 50px;
}


@media (max-width: 768px) {

    .contenedor_carrito {
        width: 90%;
    }

    .carrito_producto {
        width: 50%;
        border-radius: 7px;
        margin-top: 1rem;

    }

    .card_carrito {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carrito-contenedor-imagen {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }


}

/*------------------------ Catalogo --------------------- */
/*------------------------ Catalogo --------------------- */
/*------------------------ Catalogo --------------------- */
/*------------------------ Catalogo --------------------- */

.cuerpo {
    max-width: 980px;
    margin: auto;
    margin-top: 4rem;
}

.card_catalogo {
    background-color: #F4F2EF;
}

.card_img_catalogo {
    width: 70%;
    margin: auto;
    border-radius: 7px;
    margin-top: 1rem;
}

/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */

.cuerpo_cuenta{
    padding-top: 5rem;
}

.avatar {
    width: 200px;
    border-radius: 500px;
}

.lista_cuenta1 > *{
    color: #958A75;
    background-color: #F4F2EF;
    border: #F4F2EF;
}

.lista_cuenta > *{
    color: #958A75;
    background-color: #F4F2EF;
    border: #F4F2EF;
    display: flex;

}


.linea_h {
    background-color: #dfd6c8;
    height: 1px;
}

@media (max-width: 768px) {

    .cuerpo_cuenta{
        padding-top: 1rem;
    }



    .row_cuenta {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .lista_cuenta1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;  
        justify-content: center; 
        margin-bottom: 3rem;
        border: solid 1px #dfd6c8;
    }

    .avatar {
        width: 100%;
        border-radius: 500px;
    }
    
}

@media (max-width: 576px) {

    .avatar {
        width: 50%;
    }

}


