/*------ Carrito------*/
/*------ Carrito------*/
/*------ Carrito------*/

.card_header_carrito {
    background-color: #958A75;
    color: #F4F2EF;
    font-size: 25px;
}

.card_carrito {

    > * {
        background-color: #F4F2EF;
    }

    width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F4F2EF;

    

    .cuerpo_carta_carrito {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-self: center;
        justify-items: center;

        .contenido_cantidad_precio {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding-top: 1rem;
        }


        .titulo_prenda {
            font-size: 35px;
        }
        
        .seleccionar_cantidad {
            max-width: 193px;
            background-color: #F4F2EF;
        }
        
        .precio {
            padding-left: 3rem;
            font-size: 2rem;
        
        }
    
    }

    .card_pagar {
        width: 96%;
    
        .card_header_pagar {
            background-color: #958A75;
            color: #F4F2EF;
            font-size: 25px;
        }

        .cuerpo_carta_pagar {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        
            .pagar_total {
                font-size: 33px;
            }

            .precio_total {
                font-size: 25px;
            }

            .btn_pagar {
                background-color: #958A75;
                border: #958A75;
            }
        }
    }

}
















/*------------ Catalogo ------------*/
/*------------ Catalogo ------------*/
/*------------ Catalogo ------------*/


.card_catalogo {
    background-color: #F4F2EF;

    
    .card_img_catalogo {
        width: 70%;
        margin: auto;
        border-radius: 7px;
        margin-top: 1rem;
    }
}
