/*------------------------ Home --------------------- */
/*------------------------ Home --------------------- */
/*------------------------ Home --------------------- */
/*------------------------ Home --------------------- */

body {
    background-color: #F4F2EF;

    .cuerpo_home {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}


/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */
/*------------------------ Carrito --------------------- */
main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .contenedor_carrito {
        padding-top: 3rem;
    }
    
}

/*------------------------ Catalogo --------------------- */
/*------------------------ Catalogo --------------------- */
/*------------------------ Catalogo --------------------- */

.cuerpo {
    max-width: 980px;
    margin: auto;
    margin-top: 4rem;
}

/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */

.cuerpo_cuenta{
    padding-top: 5rem;
}
