.contenedor_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 8rem;
    background-color: #958A75;
    font-family: 'Cormorant Garamond', serif;
    color: #F4F2EF;
}

/*--------carrito--------*/
/*--------carrito--------*/
/*--------carrito--------*/

.contenedor_footer {
    margin-top: 50px;
}
