.linea_nav {
    background-color: #dfd6c8;
    height: 1px;
}



.navbar {
    max-width: 1140px;
    margin: auto;
    
    .collapse {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        font-family: 'Cormorant Garamond', serif;
        font-size: 23px;
        font-weight: 500;
        color: #958A75;

        .navbar-carrito {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: end;
            padding-left: 60%;
        }
    }

    .logo {
        padding-left: 4rem;
    }
}



