/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */
/*------------------------ Cuenta --------------------- */

.lista_cuenta1 > *{
    color: #958A75;
    background-color: #F4F2EF;
    border: #F4F2EF;
}

.lista_cuenta > *{
    color: #958A75;
    background-color: #F4F2EF;
    border: #F4F2EF;
    display: flex;

}